<div id="page" class="page">
	<div id="navbar" class="navbar">
		<div id="logo" class="logo">
			<a href="http://localhost/treedff/web/">Drupal void</a>

		</div>

		<div class="menu" id="menu">
			<nav class="nav" id="nav">
				<ul>
					<li id="link-1" class="link-1">
						<a href="http://localhost/treedff/web">Home</a>
					</li>
					<li id="link-1" class="link-2">
						<a href="http://localhost/treedff/web/basic-page">Basic page</a>
					</li>
					<li id="link-2" class="link-3">
						<a href="/">Doc</a>
					</li>
					<li id="link-3" class="link-4">
						<a href="/">Why void?</a>
					</li>
					<li id="link-5" class="link-5">
						<a href="/">Mad Kitten</a>
					</li>
					<li id="link-6" class="link-6">
						<a href="http://localhost/treedff/web/user/login/">Login</a>

					</li>

				</ul>
			</nav>
		</div>
	</div>
	<div class="alert" id="alert">
		This theme has been created to test custom modules functionalities.
	</div>
	<div id="header" class="header">
		This is a drupal header section.
		{{ page.header }}
	</div>
	<div id="primary_menu" class="primary_menu">
		This is a drupal primary menu section.
		{{ page.primary_menu }}
	</div>
	<div id="secondary_menu" class="secondary_menu">
		This is a drupal secondary menu section.
		{{ page.secondary_menu }}
	</div>
	<div id="breadcrumb" class="breadcrumb">
		This is a drupal breadcrumb section.
		{{ page.breadcrumb }}
	</div>
	<div class="highlighted" id="highlighted">
		This is a drupal highlighted section.
		{{ page.highlighted }}
	</div>
	<div id="box" class="box">
		<div id="left_sidebar" class="left_sidebar">
			This is a drupal left sidebar section.
			{{ page.left_sidebar }}
		</div>
		<div class="content" id="content">
			This is a drupal content section.
			{{ page.content }}
		</div>
		<div id="right_sidebar" class="right_sidebar">
			This is a drupal right sidebar section.
			{{ page.right_sidebar }}
		</div>
	</div>
	<div id="footer" class="footer">
		This is a drupal footer section.
		{{ page.footer }}
	</div>
	<div id="help" class="help">
		This is a drupal help section.
		{{ page.help }}
	</div>
</div>
